@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* aqui em cima importei a fonte pra pag da dashboard*/
/* aqui no root vai todo o design de cores base da página */
:root {
  --cor-base: #0a2b40;
  --cor-hover: #18628d;
  --cor-ativo: #3b9ddc;
  --cor-texto: #ffffff;
  --cor-texto2: #000000;
  --cor-bg: #ffffff;
}

/* seletor de estilos universal, aplica pra tudo no doc */
* {
  margin: 0;
  padding: 0;
}

/* mesma ideia do root, mas mais usado pra tamanhos, fontes e layout */
html {
  font-family: Kanit, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  /* tam dinâmico de acordo com tam da tela*/
  min-height: 100vh;
  background-color: var(--cor-base);
  color: var(--cor-texto);
  display: grid;
  /* a medida fração do espaço (flexível), proporcional dentro de um grid*/
  grid-template-columns: auto 1fr;
}

/* =============== INÍCIO DO CSS DO MENU LATERAL AKA SIDEBAR =============== */

#sidebar {
  box-sizing: border-box;
  height: 100dvh;
  width: 16rem;
  padding: 5px 1rem;
  background-color: var(--cor-base);

  position: sticky; /* serve pra ficar no lugar, mas não dar overlap nos textos da main*/
  top: 0;
  align-self: start;
  text-wrap: nowrap;
  overflow: auto;
}


#sidebar ul {
  list-style: none; /* remove os bullet points q aparecem originalmente no modelo lista */
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* aqui é onde organiza a div da logo */
 .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .logo{
  height: auto;
  width: 80%;
  }
}

/*aqui é onde faz ficar colorido onde tá clicado*/
#sidebar ul li.ativo a {
  background-color: var(--cor-ativo);
  color: var(--cor-texto);
}

/*aqui é onde deixa bonito os itens do menu*/
#sidebar a,
#sidebar .logo,
#sidebar .perfil,
#sidebar .logOut-btn {
  border-radius: 0.5rem;
  padding: 0.85rem;
  text-decoration: none;
  color: var(--cor-texto);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.perfil {
  text-wrap: wrap;
} /* desfaz o nowrap herdado do #sidebar pra poder quebrar a linha no nome no perfil */

.perfil span {
  flex: 1; /* ocupa o espaço flexível entre os ícones */
  min-width: 0; /* necessário pro flex permitir quebra */
  white-space: normal; /* ctz que quebra o texto */
  line-height: 1.25rem;
}


/*aqui muda o tamanho dos ícones da parte do perfil, supostamente era pra mudar só o do avatar, mas mudou os dois e ficou bom, então é isso*/
.perfil svg:first-child {
  width: 1.75rem; /* cresce/encolhe em relação à fonte */
  height: 1.75rem;
}

.perfil {
  margin-top: auto; /*joga o perfil pro final da sidebar*/
}

.logOut-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

/* pra ficar dinâmico de acordo com o nome, precisava fazer essas alterações específicas */
.perfil .logOut-btn {
  width: auto; /* sobrescreve o width:100% herdado */
  margin-left: auto; /* cola o botão à direita respeitando a margem */
  padding: 0.35rem; /* aumenta o raio de clique sem aumentar a altura do resto*/
  display: flex;
  align-items: center;
}

#sidebar svg {
  /*aqui define que os ícones gerais da página não redimensionem e define a cor deles*/
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--cor-texto);
}

/*aqui garante que os textos fiquem no meio */
#sidebar a span,
#sidebar .logOut-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .logOut-btn:hover {
  /* autoexplicativo: corzinha quando passa o mouse em cima*/
  background-color: var(--cor-hover);
}

/* =============== FIM DO CSS DO MENU =============== */

main {
  padding: 2rem;
  background-color: var(--cor-bg);
  color: var(--cor-texto2);
}
main p {
  margin-top: 0.35rem;
  margin-bottom: 1rem;
}
.container {
  margin-bottom: 1.25rem;
  /* espaçamento acompanha o tamanho do texto (em) */
  padding: min(3em, 15%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
}

.cabecalho-dash {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.barra-busca {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.titulo-dash {
  font-size: 2rem;
  color: var(--cor-texto2);
}

.ipt-busca {
  width: 13.25rem;
  padding: 0.4rem;
  border-radius: 9999px;
  border: 2px solid var(--cor-base);
  outline: none;
  text-align: right;
  font-family: kanit;
}

.ipt-busca::placeholder{
    font-family: kanit;
    font-size: 0.8rem;
}

.ipt-busca:placeholder-shown {
  text-align: right;
}

.buscar-btn {
  background-color: var(--cor-base);
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  border: none;
}

.buscar-btn svg {
  stroke: #fff;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 24;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.cards-kpi {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.card-individual {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 13.75rem;
  padding: 1.5rem 0.9rem;
  border-radius: 15px;
  background: #0a2b40;
  color: var(--cor-texto);
  box-shadow: 2px 2px 4.6px 0 rgba(10, 43, 64, 0.7);
}

.titulo-card {
  font-size: 1rem;
}

.dado-kpi {
  font-size: 1.5rem;
}

.legenda-kpi {
  font-size: 0.75rem;
  font-style: italic;
}

.todos-charts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.grafico-principal{
    min-width: 0;
    height: 34.5rem;
    align-self: stretch;
}

.linha-charts{
 display: grid;
  grid-template-columns: 2fr 1fr; /*aqui o grafico de barra ocupa 2/3 da div e o de donut 1/3*/
  gap: 1.5rem;
  align-items: stretch;
}

.grafico-secundario {
min-width: 0;
height: 22.375rem;
}


