@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
   color: #3B9DDC; 
}
body{
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

a,
button {
    cursor: pointer;
}


.container-termocondi label {
    color: #0a2b40;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;

    padding-top: 10%;
    flex-direction: column;
    background-color: #0a2b40;
    /* height: 100vh; */
    width: 50%;
}

.header img {
    width: 70%;
}
.header p {
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    width: 70%;
}
.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid brown; */
    width: 90%;
    /* padding: 30px; */
}

.form-container {
    /* border: solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 0% 2%;
}

.forms input {
    height: 50px;
    border: 1px solid gray;
    border-radius: 9px;
    padding-left: 10px;
    font-size: 15px;
}
.forms input:focus {
    outline: #3b9edb;
    border: 1px solid #3b9edb;
    transition: 300ms ease-in-out;
}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.container-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: solid green; */
    width: 100%;
    gap: 15px;
    color: #0a2b40;
}
.container-input {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    margin-top: 5px;
}
.container-input-senha {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 1px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 9px;
    align-items: center;
}
.container-input-senha input:focus {
    outline: none;
    border: none;
    /* transition: 300ms ease-in-out; */
}
.container-input-senha input {
    width: 100%;
    border: none;
}
.container-input-senha button {
    background-image: url("./assets/Ocultarsenha.png");
    border: none;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.container-termocondi input {
    border-radius: 100%;
    border: 0.5px solid black;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    transition: 300ms ease-in;
}
.container-termocondi input:checked {
    border: solid #3b9edb;
}

.container-termocondi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 5px;
}
.container-termocondi span{
    font-size: 15px;
}
.divcadastrologin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.divcadastrologin span {
    margin-top: 20px;
}
.btncadastrar {
    margin-top: 15px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #3b9edb;
    border: none;
    cursor: pointer;
}
.Erros {
    color: #ff3a3a;
    font-size: 18px;
}
.mini-asterisco {
    color: #3b9edb;
}
.main-text {
    font-size: 35px;
    color: #0a2b40;
    font-weight: bold; 
}

.main-text span {
    font-weight: bold;
}

.div-main-text {
    display: block;
    width: 100%;
    justify-content: start;
}
.minitext {
    color: #0a2b40;
}
