@import url("default.css");

nav {
    background-color: var(--color-white);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

nav ul {
    display: flex;
    list-style: none;
}

nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .links li {
    margin: 0px 10px;
}

nav .links a {
    margin: 0px 10px;
    text-decoration: none;
    color: var(--color-primary);
}

nav img {
    width: 130px;
}

.buttons ul {
    display: flex;
}

.buttons li {
    margin: 2px 5px;
}

.buttons a {
    text-decoration: none;
    padding: 10px px;
    margin: 0px 5px;
}

#login,
#cadastro {
    border-radius: 10px;
    padding: 10px 45px;
}

#login {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: 250ms ease-in-out;
}

#cadastro {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}

#login:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: 250ms ease-in-out;
}

#cadastro:hover {
    background-color: var(--color-lightblue);
}
