@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* aqui em cima importei a fonte pra pag da dashboard*/
/* aqui no root vai todo o design de cores base da página */
:root {
  --cor-base: #0a2b40;
  --cor-hover: #18628d;
  --cor-ativo: #3b9ddc;
  --cor-texto: #ffffff;
  --cor-texto2: #000000;
  --cor-bg: #ffffff;
}

/* seletor de estilos universal, aplica pra tudo no doc */
* {
  margin: 0;
  padding: 0;
}

/* mesma ideia do root, mas mais usado pra tamanhos, fontes e layout */
html {
  font-family: Kanit, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* tamanho de fonte relativo ao padrão do html (rem) */
  line-height: 1.5rem;
}

body {
  /* tam dinâmico de acordo com tam da tela*/
  min-height: 100vh;
  background-color: var(--cor-base);
  color: var(--cor-texto);
  display: grid;
  /* a medida fração do espaço (flexível), proporcional dentro de um grid*/
  grid-template-columns: auto 1fr;
}

/* =============== INÍCIO DO CSS DO MENU LATERAL AKA SIDEBAR =============== */

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--cor-base);

  position: sticky; /* serve pra ficar no lugar, mas não dar overlap nos textos*/
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 59px;
}

#sidebar ul {
  list-style: none; /* remove os bullet points q aparecem originalmente no modelo lista */
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* aqui é onde organiza a logo e o botãozinho que abre e fecha a sidebar aka menu*/
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    height: auto;
    width: 60%;
  }
}

/*aqui é onde faz ficar colorido onde tá clicado*/
#sidebar ul li.active a {
  background-color: var(--cor-ativo);
  color: var(--cor-texto);
  svg {
    fill: var(--cor-texto);
  }
}

/*aqui é onde deixa bonito os itens do menu*/
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo,
#sidebar .perfil,
#sidebar .logOut-btn {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--cor-texto);
  display: flex;
  align-items: center;
  gap: 1em;
}

.perfil {
  text-wrap: wrap;
} /* desfaz o nowrap herdado do #sidebar pra poder quebrar a linha no nome */

.perfil span {
  flex: 1; /* ocupa o espaço flexível entre os ícones */
  min-width: 0; /* necessário pro flex permitir quebra */
  white-space: normal; /* ctz que quebra o texto */
  line-height: 1.25;
}

/*Ícones fixos (não esticam nem saem do lugar) */
.perfil svg {
  flex: 0 0 auto;
}

/*aqui muda o tamanho dos ícones da parte do perfil, supostamente era pra mudar só o do avatar, mas mudou os dois e ficou bom, então é isso*/
.perfil svg:first-child {
  width: 1.75em; /* cresce/encolhe em relação à fonte */
  height: 1.75em;
}

.perfil {
  margin-top: auto; /*taca o perfil la pro final da sidebar*/
}

.dropdown-btn,
.logOut-btn {
  /*alinha os botões setinha pra abrir o sub menu e o de logout*/
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

/* pra ficar dinâmico de acordo com o nome, precisava fazer essas alterações específicas */
.perfil .logOut-btn {
  width: auto; /* sobrescreve o width:100% herdado */
  margin-left: auto; /* cola o botão à direita respeitando a margem */
  padding: 0.35em; /* aumenta o raio de clique sem aumentar a altura do resto*/
  display: flex;
  align-items: center;
}

#sidebar svg {
  /*aqui define que os ícones gerais da página não redimensionem e define a cor deles*/
  flex-shrink: 0;
  fill: var(--cor-texto);
}

/*aqui garante que os textos fiquem no meio */
#sidebar a span,
#sidebar .dropdown-btn span,
#sidebar .logOut-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover,
#sidebar .logOut-btn:hover {
  /* autoexplicativo: corzinha quando passa o mouse em cima*/
  background-color: var(--cor-hover);
}

#sidebar .sub-menu {
  /*aqui, de uma forma mais simples, o tamanho do submenu acompanha o resto, então mesmo que adicione mais setores, ele vai aumentando*/
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    /*quando fecha o menu, ele esconde os textos*/
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  /*ajusta a altura do submenu*/
  grid-template-rows: 1fr;
}
.dropdown-btn svg {
  /*transição animada*/
  transition: 200ms ease;
}
.rotate svg:last-child {
  /*rotaciona a setinha*/
  rotate: 180deg;
}

#sidebar .sub-menu a {
  /*identação do submenu*/
  padding-left: 2em;
}

#toggle-btn {
  /* ajuste do botão que abre e fecha o menu*/
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    /*rotaciona a seta q abre e fecha o menu com transição animada*/
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover {
  background-color: var(--cor-hover);
}
/* =============== FIM DO CSS DO MENU =============== */

main {
  padding: min(30px, 7%);
  background-color: var(--cor-bg);
  color: var(--cor-texto2);
}
main p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.container {
  margin-bottom: 20px;
  /* espaçamento acompanha o tamanho do texto (em) */
  padding: min(3em, 15%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-evenly;
}

.cabecalho-dash {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.barra-busca {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.titulo-dash {
  font-size: 30px;
  color: var(--cor-texto2);
}

.ipt-busca {
  width: 210px;
  height: 30px;
  padding: 5px;
  border-radius: 30px;
  border: 2px solid var(--cor-base);
  outline: none;
  text-align: right;
  font-family: kanit;
}

.ipt-busca::placeholder{
    font-family: kanit;
}

.ipt-busca:placeholder-shown {
  text-align: right;
}

.buscar-btn {
  background-color: var(--cor-base);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
}

.buscar-btn svg {
  stroke: #fff;
  stroke-width: 24;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.cards-kpi {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.card-individual {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 220px;
  height: 110px;
  padding: 10px 15px;
  border-radius: 15px;
  background: #0a2b40;
  color: var(--cor-texto);
  box-shadow: 2px 2px 4.6px 0 rgba(10, 43, 64, 0.7);
  margin-bottom: 5px;
}

.titulo-card {
  font-size: 16px;
}

.dado-kpi {
  font-size: 24px;
}

.legenda-kpi {
  font-size: 12px;
  font-style: italic;
}

.todos-charts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grafico-principal{
    min-width: 0;
    align-self: stretch;
}

.linha-charts{
 display: grid;
  grid-template-columns: 2fr 1fr; /*aqui o grafico de barra ocupa 2/3 da div e o de donut 1/3*/
  gap: 24px;
  align-items: stretch;
}

.grafico-secundario {

  min-width: 0;

}

/*----------CSS das Dashs dos sensores------------*/

.container-sensor{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;

}

.container-graficos{

  
  width: 70%;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 24px;
  align-items: stretch;
  
}

.titulo-setor{

  height: 50px;
  width: 100%;
  background-color: var(--cor-base);
  color:  var(--cor-texto);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px;

}

.titulo-setor span{

  margin: 5px;

}

.titulo-sensor{

  height: 50px;
  width: 100%;
  background-color: var(--cor-ativo);
  color:  var(--cor-texto);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
  margin-top: 5px;

}
.titulo-sensor span{

  margin: 5px;

}